body {

}

.navbar-default {
  height: 150px;
 }

.navbar-header img {

margin: 20px 10px 10px 10px;
}

.icons {
 
  margin: 25px 30px 30px 30px;
}

.navIcon {
  height: 100px;
  width: 100px;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* JQuery */

.hidden {
	visibility: hidden; 	
}

