body {

}

.navbar-default {
  height: 150px;
 }

.navbar-header img {

margin: 20px 10px 10px 10px;
}

.icons {
 
  margin: 25px 30px 30px 30px;
}

.navIcon {
  height: 100px;
  width: 100px;
}

/* JQuery */

.hidden {
	visibility: hidden; 	
}

