<h1>Home</h1>

<!-- Temporary button, will remove -->
<button ng-click="goToMap()">Map</button>

<div class="container">
	
	<div class="row">
		<!-- individual tweet -->
		<div class="col-xs-12">
			<div class="tweet-card">
				<h1>Username</h1>
				<div class="row">
					<div class="col-xs-3 tweet-pic">
						<img src="https://pbs.twimg.com/media/Civ9AUkVAAAwihS.jpg">
					</div>
					<div class="col-xs-9 text-center">
						<p class="tweet-text">Tweet content will appear here. Read it!</p>
					</div>
				</div>
			</div>
		</div><!-- tweet ends -->
		<!-- individual tweet -->
		<div class="col-xs-12">
			<div class="tweet-card">
				<h1>Username</h1>
				<div class="row">
					<div class="col-xs-3 tweet-pic">
						<img src="https://pbs.twimg.com/media/Civ9AUkVAAAwihS.jpg">
					</div>
					<div class="col-xs-9 text-center">
						<p class="tweet-text">Tweet content will appear here. Read it!</p>
					</div>
				</div>
			</div>
		</div><!-- tweet ends -->
		<!-- individual tweet -->
		<div class="col-xs-12">
			<div class="tweet-card">
				<h1>Username</h1>
				<div class="row">
					<div class="col-xs-3 tweet-pic">
						<img src="https://pbs.twimg.com/media/Civ9AUkVAAAwihS.jpg">
					</div>
					<div class="col-xs-9 text-center">
						<p class="tweet-text">Tweet content will appear here. Read it!</p>
					</div>
				</div>
			</div>
		</div><!-- tweet ends -->
	</div><!-- keyword tweets end -->
</div>