
  <div class="col-xs-12 text-right">
    <div class="col-xs-12 text-right">
      <img src="/images/CRISIS_LOGO.png">
    </div>
    <section class="auth-form">
    <h4>Login/Register with Email</h4>
    <div>
      Email: <input type="text" autofocus="true"  ng-model="account.email">
    </div>
    <div>
      Password: <input type="password" ng-model="account.password">
    </div>
    <div>
      <button class="btn btn-danger" ng-click="login()">Login</button>

      <button class="btn btn-danger" ng-click="register()">Register</button>
    <h4>Login with Google</h4>
    <button class=" btn btn-danger" ng-click="loginGoogle()">Sign In</button>
    </div>

    </section>
  </div>
  
