<nav class="navbar navbar-inverse navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="../images/CRISIS_LOGO.png"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
      <ul class="nav navbar-nav">
      
    
      </ul>
      <form class="navbar-form navbar-right">
        <div class="form-group search">
          <input type="text" class="form-control" placeholder="Search">
          <a href="#">Logout</a>
        </div>
       
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
      <ul class="nav navbar-nav navbar-right">
        
        
      </ul>

      <div class="crisis-row-icons">
        <a>
          <img class="navIcon" id="fireIcon" src="../images/FIRE BUTTON.png">
        </a>
        <a>
          <img class="navIcon" id="floodIcon" src="../images/FLOOD_ACTIVE.png">
        </a>
        <a>
          <img class="navIcon" id="accidentIcon" src="../images/ACCIDENT_ACTIVE.png">
        </a>
      </div>

    <!-- </div> --><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->


</nav>